<div class="add lists">
  <h3>Add list</h3>
  <form (submit)="addLists()">
    <input type="text"
    [(ngModel)]="newListName"
    placeholder="Enter list name"
    name="newListName"
    required>
    <button type="submit">Add List</button>
  </form>
</div>

<div class="lists-container">
  <h2>Lists Work</h2>
  <p *ngIf="boardId">Board ID: {{ boardId }}</p>
  <p *ngIf="!boardId">No Board ID available.</p>

  <div class="lists-row">
    <ul *ngIf="lists.length">
      <li *ngFor="let list of lists" class="list-item">
        {{ list.name }}

       <!--  <app-cards [listId]="list.id"></app-cards> -->
         <app-cards [listId]="list.id"></app-cards>

      </li>
    </ul>
  </div>
</div>

