<div class="boards-container">
  <h2>Your Trello Boards</h2>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

    <!-- Add New Board Section -->
    <div class="add-board">
      <h3>Add a New Board</h3>
    
      <form (submit)="addBoard()">
        <input
          type="text"
          [(ngModel)]="newBoardName"
          placeholder="Enter board name"
          name="boardName"
          required
        />
        <button type="submit">Add Board</button>
      </form>
    </div>
  </div>
  

  <div class="board-list" *ngIf="boards.length">
    <div 
      class="board-item" 
      *ngFor="let board of boards" 
      [ngStyle]="{
        'backgroundImage': board.prefs.backgroundImage ? 'url(' + board.prefs.backgroundImage + ')' : null,
        'backgroundColor': !board.prefs.backgroundImage ? 'lightblue' : null
      }"
      (click)="handleBoardClick(board.id)">
      <div class="board-overlay">
        {{ board.name }}
      </div>
    </div>
  </div>
  
  <div *ngIf="!boards.length && !error">
    Loading boards...
  </div>

